IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "reset" 3;
IO_PORT "reset" IO_TYPE=LVCMOS18;

IO_LOC  "tx" 17;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rx" 18;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
