LOCATE COMP "serial_rx" SITE "J17";
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "serial_tx" SITE "H18";
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "H4";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "clk25" SITE "P3";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk25" 25.0 MHz;
