LOCATE COMP "rx" SITE "J17";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "tx" SITE "H18";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "H4";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
